<div id="login">
    <h2>
        Login
    </h2>
    <form action="/login" method="POST">
        <label for="input-username">
            Username
        </label>
        <input type="text" id="input-username" name="username" placeholder="Your username" />
        <label for="input-password">
            Password
        </label>
        <input type="password" name="password" id="input-password" placeholder="********" />
        <button type="submit">
            Login
        </button>
        {{! error message will be added here }}
        {{#if errorMessage}}
        <p class="error">
            {{errorMessage}}
        </p>
        {{/if}}
    </form>
</div>