body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}