body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
