body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.container-box {
  flex: 1;
}
.container-box.values {
  text-align: right;
}

.container-dates {
  display: flex;
  margin-bottom: 1rem;
}

.container-dates-item {
  margin-right: 1rem;
}
