body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#interface{
  display: flex;
  justify-content: space-evenly;
}
h1{
  text-align: center;
}