body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.data {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
