* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

a {
    color: #00b7ff;
}

.container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
}

.chart-options {
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.filters>*,
.values>* {
    margin: 10px 0;
}