# Environment Variables should NEVER be published
# For learning purposes we will leave .env visible, but make sure you never push it when working on your projects  
# .env

package-lock.json

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules








