body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#sectionOne {
    width: 90%;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filters {
    width: 30%;
}

.form {
    margin: 40px 0;
}

#values {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.value {
    margin: 5px 0;
}

#chart {
    width: 80%;
}
