<!DOCTYPE html>
<html>
  <head>
    <title>Finantial Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> CoinDesk Bitcoin Price Index </h1>
    <p>Date filter</p>
    <p>From: <input id="date-start" type="date"> To: <input id="date-end" type="date"> <button id='btn-update' type='submit'>Filter</button></p>
    <canvas id="myChart" height="120px"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
