<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Financial {{title}} </p>
    <canvas id="myChart" width="400" height="200"></canvas>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>