<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Filters</h1>
    <div class="container"></div>
    <form action="">
      <div class="dates_currency_container">
        <div class="date_container">
          <label for="from">From</label>
          <input type="date">
          <label for="to">To</label>
          <input type="date">
        </div>
        <label for="currency">Currency</label>
        <select name="currency" id="currency">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
      </div>
      <div class="values">
        <h1 class="title">Values</h1>
        <div class="values_container">
          <h3 class="values">Max:</h3>
          <h3 class="values">Min:</h3>
        </div>
      </div>
    </form>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
