<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<label for="fromDate">From:</label>
<input type="date" id="fromDate" name="fromDate" />
<label for="toDate">To:</label>
<input type="date" id="toDate" name="toDate" />

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




<script src="/js/financial-data.js"></script>



