<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Price Index API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bitcoin Index</h1>
    
    <p>From: <input id="date-start" type="date"> To: <input id="date-end" type="date"> 
    <button id='btn-update' type='submit'>Filter</button></p>

   <label for="currency">Currency: </label>
   <select name="currency" id="currency">
	   <option value="USD" selected="selected">Dollars</option>
	   <option value="EUR">Euro</option>
	   <option value="GBP">Libra esterlina</option>
	   <option value="DZD">Dinars</option>
    </select>
    <button id='btn-currency' type='submit'>Index</button></p>

    <div>
    <h1> Values</h1>
    <p id="maxValue"></p>
    <p id="minValue"></p>
    </div>
    
   <canvas id="myChart" height="120px"></canvas>


  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>