<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <h1>Filters</h1>
    <span>From:</span><input type="date" class="from" value="2020-03-01">
    <span>To:</span><input type="date" class="to" value="2020-03-10">
    <span>Currency:</span>
    <select name="currency" class="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
     <h1>Values</h1>
    <div id="values">
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
