<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id = "myChart" width = '400px' height = '400px'>
    
</canvas>

 <input type="date"  id='start-date'>
  <input type="date"  id='end-date'>
    <button id='fetch'>Fetch Dates</button>
