<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>From: 
    <input type="text" id="from-date" placeholder="YYYY-MM-DD">
     To: <input type="text" id="to-date" placeholder="YYYY-MM-DD">
     <button>Filter</button>
</p>
<canvas id="my-chart"></canvas>