<!DOCTYPE html>
<html id="body">

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <h2>Filters</h2>

  <label for="start">From:</label>
  <input type="date" name='startDate' id='startDate' value=''>
  <label for="start">To:</label>
  <input type="date" name='endDate' id='endDate' value=''>
  <p>Currency</p>
  <select name="currency" id="currency" onchange="pickCurrency()">
    <option value="GBP">GBP</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>


  <canvas id="myChart"></canvas>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</body>

</html>