<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id="myChart" width='400px' height='400px'>

</canvas>

<input type="date" id='startingDate'>
<input type="date" id='endingDate'>
<button id='searchDates'>Fetch Dates</button>