<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <input id="start-date" type="date">
  <input id="end-date" type="date">
  <select id="select-currency"name="select">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
    <option value="RUB">RUB</option>
  </select>
  <button id="getGraph">Get Graph</button>
  <p>Max value is:</p><p id="max-value">0</p>
  <p>Min value is:</p><p id="min-value">0</p>
  <div id="graph-container">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>