<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
<div> 
    <div>
        <label for="start">From:</label> 
        <input class="start-date" type="date" id="start" name="trip-start" value="2021-01-01" max="2022-07-30">
        <label for="start">To:</label>
        <input class="end-date" type="date" id="start" name="trip-start" value="2021-12-12" max="2022-07-30"> 
     </div>   
    <div>
    <label for="currency-select">Currency:</label>
    <select class="currency" name="curencies" id="currency-select">
        <option selected value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="TL">TL</option>
        <option value="CHF">CHF</option>
        <option value="GBP">GBP</option>
        <option value="KRW">KRW</option>
        <option value="JPY">JPY</option>
    </select>
    </div>


</div>
  <canvas id="myChart"></canvas>
</div>