<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>{{title}} BPI Checker</p>
  <h2>Filters</h2>
  <label>From: </label>
  <input type='date' name='startDate' id='startDate' value='2020-07-01'>
  <label>To: </label>
  <input type='date' name='endDate' id='endDate' value='2020-07-31'>
  <button id='btnUpdate' type='submit'>Update</button>
</br>
   <div>
        <label for="currency">Choose currency: </label>
        <select name="currency" id="currency">
          <option value="USD"> US Dollar</option>
          <option value="EUR" selected> Europe Euros</option>
          <option value="JPY"> Japan Yen </option>
          <option value="INR"> Indian Rupee</option>
        </select>
      </div>

  <div id="infoBox">
    <h1> Values</h1>
    <p id="maxValue"></p>
    <p id="minValue"></p>
  </div>

  <canvas id="myChart" width="300" height="300"></canvas>></canvas>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>