<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<label>Start date :
    <input type="date" name="startDate" class="startDate" >
</label>
<label> 
    <input type="date" name="endDate" class="endDate" >
</label>


<button>Update values</button>
<div>
  <canvas id="myChart"></canvas>
</div>

