<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    <form action="">
      <label for="from">From: </label>
      <input type="date" id="start-date" value="2020-01-01">
      <label for="to">To: </label>
      <input type="date" id="end-date" value="2020-08-20">
      <select name="" id="currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
        <option value="MXN">MXN</option>
        <option value="BRL">BRL</option>
        <option value="CLP">CLP</option>
        <option value="COP">COP</option>
        <option value="ARS">ARS</option>
      </select>
    <button id="btnupdate" type="submit">Go</button>
    </form>
    <canvas id="myChart"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
