<h1>{{title}}</h1>
<div></div>
<br>
<button>Get data</button>
<div></div>
<input id="fromDate" type="date" name="fromDate">
<br>
<div></div>
<input id="toDate" type="date">
<br>
<div></div>
<input id="currency" type="currency" name="text" value="EUR" placeholder="currency" >
<br>
<canvas id="myChart" width="400" height="400"></canvas>


