<h1>CryptoWorld</h1>
<div>
    <h2>Introduce una fecha para ver el precio de las criptomonedas</h2>
    <div class="input-date">
        <input type="date" id="date1">
        <input type="date" id="date2">
    </div>

</div>
<div>
    <canvas id="myChart"></canvas>
</div>