<!DOCTYPE html>
<html>

  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>

  <body>

    <h1>{{title}}</h1>

    <p>Welcome to {{title}}</p>


    <label for="fromDate">From:</label>
    <input type="date" id="fromDate">

    <label for="toDate">To:</label>
    <input type="date" id="toDate">

    <label for="currency">Select currency:
      <select name="select" id="currency">
        <option value="USD">USD</option> 
        <option value="EUR">EUR</option>
        <option value="BRL">BRL</option>
      </select>
    </label>
    <br>
    <br>
    <h3 id="minValue">Min value:</h3>
    <p id="minValue"></p>
    <h3 id="maxValue">Max value:</h3>
    <p id="maxValue"></p>
    <br>
    <br>


    <canvas id="myChart"></canvas>

  </body>

  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
