<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    
    <input id="startValue" name="startValue" type="date">
    <input id="endValue" name="endValue" type="date">
    <button id="getValueBtn" type="submit">Search</button>
   
    <select name="currency" id="currency">
      <option>Select coin</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="CNY">CNY</option>
    </select>

    <canvas id="myChart"></canvas>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
