<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id="myChart" width="400" height="400"></canvas>
    <label for="date">Date Range:</label>
    <input type="date" id="start-date">
    <input type="date" id="end-date">
    <button id="select-dates">Select Dates</button>