<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<input type="date" name="start" id="start">
<input type="date" name="end" id="end">
<button>Refresh view</button>
<p class="max_value"></p>
<p class="min_value"></p>

<div class="canvas_holder">
    <canvas id="myCanvas"></canvas>
</div>
