<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
   <div class="row">
    <div class="col-4">
      <h2>Filters</h2>
      <input type="date" id="start">
      <input type="date" id="end">
      <select id="currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
      <button id="search">Search</button>
    </div>
    <div class="col-4">
      <h2>Values</h2>
      <h4>Max: <span id="max"></span></h4>
      <h4>Min: <span id="min"></span></h4>
    </div>
  </div>
  <canvas id="my-chart"></canvas>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>