<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="values">
    <h2>Values</h2>
    <p class="minValue">Min: <span></span></p>
    <p class="maxValue">Max: <span></span></p>
</div>

<label>From
    <input type="date" name="start-date" id="start-date">
</label>


<label>To
    <input type="date" name="end-date" id="end-date">
</label>

<button id="search-btn">Search</button>
<canvas id="myChart" width="400" height="400"></canvas>
