<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Please type a start and end date to retrieve the data: </p>
    <label for="start">Start date</label>
    <input type="date" name="start" id="startInput" value="{{startingDate}}">
    <label for="end">End date</label>
    <input type="date" name="end" id="endInput" value="{{endingDate}}">
    <label for="currency">Currency: </label>
    <select name=" currency" id="currencyInput">
      <option value="EUR" selected>EUR</option>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
    </select>
    <button type="submit" id="buttonSubmit">Submit</button>
    <div id="canvasContainer">
    <canvas id="myChart"></canvas>
    </div>
    <p>Currency selected: <strong><span id="currencySelected">EUR</span></strong> - Min: <span id="minPrice"></span>  - Max: <span id="maxPrice"></span></p>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
