<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    
    <h2>Filters</h2>
    <span>From: </span><input type="date" id="start" value="" ><span>
      To: </span><input type="date" id="end" value="" >
    
  
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
