<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
</body>
<div>
  <input id='firstDate' type="date" onchange="getData(event)">
  <input id='secondDate' type="date" onchange="getData(event)">
  <select name="currency" id="currency" onchange="getData(event)">
    <option value="USD">Selecione moeda</option>
    <option value="BRL">Real (BRL)</option>
    <option value="USD">Dolar (USD)</option>
    <option value="EUR">Euro (EUR)</option>
  </select>
  <h4 id='min'>Minimo:</h4>
  <h4 id='max'>Maximo:</h4>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>