<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<header>

  <form method="POST">
    <h2>Filters</h2>
    <div class="from-to">
      <label>
        From:
        <input class="input1" type="date" value="2022-01-01" />
      </label>

      <label>
        To:
        <input class="input2" type="date" value="2022-07-10" />
      </label>
    </div>

    <div class="currency-container">
      Currency:
      <select name="currency" class="currency">
        <option value="EUR">EUR (€)</option>
        <option value="USD">US Dollar ($)</option>
      </select>
    </div>
  </form>

  <div class="info-box">
    <h2>Values</h2>

    <p>Max: <span class="max"></span></p>
    <p>Min: <span class="min"></span></p>
  </div>
</header>

<canvas></canvas>