<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="filtersAndValues">
    <div id="filterContainer">
        <h2>Filters</h2>
        {{!-- START DATE --}}
        <div class="filter">
            <label for="fromDate">From:</label>
            <input type="date" name="start" id="fromDate" value="{{fromDate}}">
        </div>
        {{!-- END DATE --}}
        <div class="filter">
            <label for="toDate">To:</label>
            <input type="date" name="end" id="toDate" value="{{toDate}}">
        </div>
        {{!-- CURRENCY --}}
        <div class="filter">
            <label for="currency">Currency:</label>
            <select name="currency" id="currencySelector">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
            </select>
        </div>
    </div>
    <div>
        <h2>Values</h2>
        <p id="maxValue"></p>
        <p id="minValue"></p>
    </div>
</div>

<canvas id="myChart" width="400" height="400"></canvas>