<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    <label for="">Start Date</label>
    <input type="date" name="start-date" id="start-date">
    <label for="">End Date</label>
    <input type="date" name="end-date" id="end-date">
    <label for="">Currency</label>
    <select name="currency" id="currency">
      <option value="eur" selected>Euro</option>
      <option value="usd">USD</option>
      <option value="gbp">GBP</option>
    </select>
    <p>Highest Value: <span id="max-value"></span></p>
    <p>Lowest Value: <span id="min-value"></span></p>

    <canvas id="myChart" width="0.1" height="100"></canvas>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>

</html>