<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<input type="date" id="start" name="trip-start" value="2013-09-01" max="2013-09-01">
<input type="date" id="end" name="trip-start" value="2013-09-30" max="2013-09-30">
<canvas id="my-chart"></canvas>