<!DOCTYPE html>
<html>
  <head>
    <title> Bitcoin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Price tracker</h1>
    <h2>Filters</h2>


  <label for="start">Start:</label>
  <input type="date" id="startInput" value='2020-07-01'>
  <label for="end">End:</label>
  <input type="date" id="endInput" value='2020-07-30'>
  <input type="submit" id='myBtn'>


<canvas id="myChart" width="400" height="400"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
