<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <canvas id="myChart" width="800" height="400"></canvas>

  <input type="date" id="start-date">
  <input type="date" id="end-date">

</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>