<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Bitcoin data</h1>

  <form id="formDates">
      <input type="date" id="from-date" value="2015-02-01">
      <input type="date" id="to-date" value="2015-03-01">
      <select id="currency" name="currency">
        <option value="USD" selected>$</option>
        <option value="EUR">€</option>
      </select>
      <button type="submit" id="search">Search</button>
  </form>


    <hr>

    <canvas id="chart"></canvas>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
