<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <input type="date" id="StartDate">
  <input type="date" id="EndDate">

  <select id="currency">
    <option value="USD" selected>USD</option>
    <option value="EUR">EUR</option>
    <option value="GBP">GBP</option>
  </select>

  <p>Maximum value: <span id="maxValue"></span> <span id="maxCurrency"></span></p>
  <p>Minimum value: <span id="minValue"></span> <span id="minCurrency"></span></p>

  <canvas id="myChart" width="400" height="400"></canvas>
</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>