<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>

</head>

<body>
  <h1> Filters </h1>
  <form id='filters'>
    <label for="start-date">From</label>
    <input type="date" id="from">
    <label for="end-date">To</label>
    <input type="date" id="to">
  </form>
  <br>
  <select id="currency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <br>
  <div>
    <h2 id="minVal"></h2>
    <h2 id="maxVal"></h2>
  </div>
  <canvas id="myChart" width="200" height="200"></canvas>
</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
