<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  

  </head>
  <body>
    <h1> {{title}} </h1>
    <input type="date" name="start-date" id="input-start-date"/>
    <input type="date" name="end-date" id="input-end-date">
    <select name="currency" id="input-currency">
       <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>
    <canvas id='canvas'></canvas>
    

  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
