<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <form id="form1">
    <label for="dateFrom">Date From:</label>
    <input type="date" id="dateFrom" name="dateFrom">
    <label for="dateTo">Date To:</label>
    <input type="date" id="dateTo" name="dateTo">
    <select name="select" id="currency">
      <option value="EUR" selected>EUR</option>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
    </select>
  </form>

  <div class="box-data">
    <span>Min</span>
    <div id="min"></div>
    <span>Max</span>
    <div id="max"></div>
  </div>
  <canvas id="myChart"></canvas>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</body>

</html>