<!DOCTYPE html>
<html>
  <head>
    <title> Bitcoin Price Index </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <h1> Bitcoin Price Index </h1>
    {{!-- <p>Welcome to  {{title}} </p> --}}
    <div>
      <h3>From:</h3>
        <input id="startValue" name="startValue" type="date">
      <h3>To:</h3>
        <input id="endValue" name="endValue" type="date">
        <button id="getValueBtn" type="submit">Search</button>
    
      <h3>Currency:</h3>
        <select name="currency" id="currency">
          <option>Select coin</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="CNY">CNY</option>
        </select>

      <h3>Values</h3>
        <p>Max: <span id="maxValue"></span></p>
        <p>Min: <span id="minValue"></span></p>

    </div>

    <canvas id="myChart"></canvas>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
