<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    {{{body}}}
    <input type='date' name='fromDate' id='fromDate' />
    <input type='date' name='toDate' id='toDate' />

    <label for='currency'>Choose a currency:</label>

    <select name='currency' id='currency'>
      <option value='USD'>USD</option>
      <option value='EUR'>EURO</option>
      <option value='HUF'>Hungarian Forint</option>
      <option value='DKK'>Danish Kroner</option>
      <option value='GBP'>GBP</option>
    </select>
    <h2>Values</h2>
    <p class='min'></p>
    <p class='max'></p>

    <canvas id='my-chart'></canvas>

    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'
    ></script>
    <script src='/js/script.js'></script>
    <script src='/js/financial-data.js' charset='utf-8'></script>

  </body>

</html>