<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <div class="date-form">
         <label for="date-from">From</label>
         <input id="date-from" type="date" value="" />
      </div>

      <div class="date-form">
         <label for="date-to">To</label>
         <input id="date-to" type="date" value="" />
      </div>

      
      <canvas id="my-chart"></canvas>

      {{{body}}}

      <script src="/js/script.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="/js/financial-data.js" charset="utf-8"></script>
   </body>

</html>