<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>

      {{!-- UIKIT and CSS --}}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav class="uk-navbar-container" uk-navbar>
      
         <div class="uk-navbar-left">
      
            <ul class="uk-navbar-nav">
               <li class="uk-active"><a href="/" class="uk-text-capitalize">Home</a></li>
            </ul>
      
         </div>
      
         <div class="uk-navbar-right">
      
            <ul class="uk-navbar-nav">
               <li><a href="/bitcoin-price" class="uk-text-capitalize">Bitcoin Graph</a></li>
            </ul>
      
         </div>
      
      </nav>

      {{{body}}}

      {{!-- UIKIT --}}
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>

      {{!-- Axios and Chart --}}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      {{!-- js files --}}
      <script src="/js/script.js"></script>
      <script src="/js/financial-data.js" charset="utf-8"></script>
   </body>

</html>