<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Financial Data Graphing Lab</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}
    <label for="fromDate"></label>
    <input type="date" id="fromDate" value="2017-06-01" />
    <label for="toDate"></label>
    <input type="date" id="toDate" value="2021-11-30" />
    <select name="currency" id="currency">
       <option value="USD" selected>US Dollar</option>
       <option value="EUR">Euro</option>
       <option value="CNY">Chinese Yuan</option>
       <option value="XAU">Gold (Troy Ounce)</option>
       <option value="NOK">Norwegian Krone</option>
       <option value="SEK">Swedish Krona</option>
    </select>

    <div>maximum Value: <p id='maxValue'></p>minimum Value<p id='minValue'></p></div>

    <div id="ctn-canvas">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"
    ></script>

    <script src="/js/financial-data.js" charset="utf-8"></script>
    <script src="/js/script.js"></script>
  </body>

</html>