body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}
div.values{
  text-align: right;
}