body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
}

.info-box {
  margin-left: auto;
}

.currency-container {
  margin-top: 20px;
}

