<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
    <div clas="container">
    From
    <input name="input1" type="date" id="date1" min="17-07-2017">
    To
    <input name="input2" type="date" id="date2" min="17-07-2017">
    <input type="text" id="currency" value="Write the currency here">
    </div>
    <button id="trigger" value="See Data">See Data</button>
    <div class="container">
        <canvas id="chart"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="/javascripts/supported-currencies.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
		
    <script src="/javascripts/financial-data.js"></script>
</body>
</html>