<div class="info">
<div class="filters">
  <h2>Filters</h2>
  <p> From: to: </p>
  <p>Currency:</p>

</div>

<div class="values">
  <h2>Values</h2>
  <p> Max: </p>
  <p>Min: </p>
</div>

</div>

<canvas id="myChart" width="400" height="400"></canvas>
