<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <label>From</label>
  <input id="startDate" type="date" value="2019-01-01">
  <label>To</label>
  <input id="endDate" type="date" value="2019-02-04">

  <canvas id="myChart" width="40" height="40"></canvas>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js"></script>


</html>