<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>

    <input type="date" id="start">
    <input type="date" id="end">

  <canvas id="chart"></canvas>

  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
