{{!-- <!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html> --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CoinDesk</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <h1>CoinDesk data charts</h1>

    <section>
        <figure>
            <canvas id="q1"></canvas>
        </figure>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{!-- <script src="publi/javascripts/financial-data.js"></script> --}}
    <script src="javascripts/financial-data.js"></script>
</body>

</html>