<!DOCTYPE html>
<html>

<head>
  <title> Bitcoin </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <section id="chart">
    <h1> Bitcoin Price </h1>
    <div class="buttonsFilter">
      <input id="startDate" type="date" name='start' value="2018-01-01">
      <input id="endDate" type="date" name="end">
    </div>
    <div>
      <select name="" id="currencyButton">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <div class="chartBtc">
      <canvas id="btcPrice"></canvas>
    </div>


  </section>

</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>