<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  </head>
  <body>

      <select>
      <option value="USD">USD</option>
      <option value="MXN">MXN</option>

      </select>
    <input type="date" id="oneDate" required>
    <p>to:</p>
    <input type="date" id="twoDate" required>

    <P ></P>      
  <canvas id="myChart" width="400" height="400"></canvas>

  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
    </body>

</html>
