<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <label for="start">Start date:</label>
  <input type="date" id="start" name="trip-start" value="" min="" max="">
  <label for="end">End date:</label>
  <input type="date" id="end" name="trip-end"  value="" min="" max="">

  <label for="currency">currency:</label>
  <select name="curr">
  <option value="EU">EU</option> 
  <option value="USD">USD</option>
</select>


</body>
<canvas id="myChart"></canvas>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</html>