<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    <div style="width:800px; height:800px;">
      <canvas id="coinChart"></canvas>
    </div>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  <script>
    const ctx = document.getElementById("coinChart").getContext("2d");
    
    const lineChart = new Chart(ctx,{
      type: 'line',
    });

    async function updateChart() {
      const financialData = await getHistoricalData();
  
      const labels = Object.keys(financialData.bpi)
      const data = labels.map(label => financialData.bpi[label]);

      lineChart.data.labels = labels;
      lineChart.data.datasets = [{
          label: 'Coin Desk',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: data
        }];
      lineChart.update();
    }

    updateChart();

  </script>
</html>
