<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
</head>

<body>
  <h1>Bit Coin Price Index</h1>
  <div class="header">
    <div class="filter">
      <h1>Filters</h1>
      <label>From:</label>
      <input type="date" id="start-date" value="2019-01-01">
      <label>To:</label>
      <input type="date" id="end-date" value="2019-01-31">
      <button id="btn">Show Chart</button>
    </div>

    <div class="values">
      <h1>Values</h1>
      <p>Max: </p>
      <p>Min: </p>
    </div>
  </div>

  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>