<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <div class="inline">
      From:<input type="date" id="start" class="inputs" value="2016-09-01">
      To:<input type="date" id="end" class="inputs" value="2017-06-01">
      <select id="value">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <canvas id="myChart"></canvas>
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
