<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form>
      <div class="input-start">
        <label for="start">From:</label>
        <input type="date" name="start" id="start"/>
      </div>
      <div class="input-end">
        <label for="end">To:</label>
        <input type="date" name="end" id="end"/>
      </div>
      <div class="btn-form">
        <button id="btn-filter">Filter</button>
      </div>
    </form>
    <canvas id="myChart" width="400" height="400"></canvas>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
