<!DOCTYPE html>
<html>
  <head>
    <title>titulo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body>

   <input type="date" name="date" id="date">
   <input type="date" name="date2" id="date2">
  <canvas id="canvas"></canvas>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://api.coindesk.com/v1/bpi/historical/close.json"></script>
  <script src="app.js" ></script>

  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</body>
</html>

