<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form>
<label>From: </label>
  <input type="date" id ="start-date" value="">
<label>To: </label>
  <input type="date" id = "end-date" value ="" onfocusout="getDate()">
</form>

<canvas id="myChart"></canvas>