<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./chart.js/dist/Chart.min.js"></script>
    <script src="./jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Financial-data Chart <%= title %></p>
    <input type="date" name="start-date" id="start-date" value="2017-01-14">
    <input type="date" name="end-date" id="end-date" value="2017-02-13">
    <select id="currency" name="currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>
    <div class="container">
      <label for="min-price">Min. price</label>
        <input type="number" id="min-price" name="min-price" value="">
        <label for="max-price">Max. price</label>
      <input type="number" name="max-price" id="max-price" value="">
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script type="text/javascript" src="./javascripts/financial-data.js"></script>
  </body>
</html>
