<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <button id="createGraph" type="button" name="button">Create Graph</button>
    <canvas id="myChart" width="400" height="400"></canvas>

    <!-- <script type="text/javascript">
      var ctx = document.getElementById("myChart").getContext('2d');

    </script> -->
    <script src="/chart.js/dist/Chart.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/financial-data.js"></script>
  </body>
</html>
