<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ChartApp</h1>
    <form class="container" click="updateChart" action="/update">
      <h2>Select dates and/or currency:</h2>
      <p>From: <input type="date" id="startDate"></p>
      <p>To: <input type="date" id="endDate"></p>
      <p>
        Currency:
        <select id="currency">
          <option value="USD">USD ($)</option>
          <option value="EUR">EUR (€)</option>
          <option value="MXN">MXN ($)</option>
        </select>
      </p>
    </form>
    <div class="containerJust">
      <h2>Values:</h2>
      <p>Max: <span id="maximum"></span></p> 
      <p>Min: <span id="minimum"></span></p> 
    </div>
    <canvas id="myChart"></canvas>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
