<!DOCTYPE html>
<html>
  <head>
    <title>Lab Financial Data Graphing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Filters</h1>
    <input type="date" id="start">
    <input type="date" id="end">
    <label for="curr">Currency:</label>
    <select type="text" id="currency">
        <option value="USD" selected="selected">US Dollar</option>
        <option value="EUR">Euro</option>
        <option value="MXN">Mexican Pesos</option>
    </select>
    <div class="minMax">
        <h1>Values</h1>
        <span id="max"></span>
        <br>
        <span id="min"></span>
    </div>
  <canvas id="canvas"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
