<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    <label for="start">Enter start date:</label>
    <input type="date">
    <label for="end">Enter end date:</label>
    <input type="date">
    <button id='form-submit'>Submit</button>
  </body>
  <canvas id="myChart" width="400" height="200"></canvas>
  <script src="javascripts/financial-data.js"></script>
  
</html>
