<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Filters</h1>
      <form id="date-form">
        <p>From:</p> <input type="date" name="from" id="from-date">
        <p>To:</p> <input type="date" name="to" id="to-date">
        
      </form>

    <canvas id="myChart"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>

  </body>

</html>
