<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <input type="date" id="start" value="2020-01-11">
  <input type="date" id="end"  value="2020-02-10">
  <select name="currency" id="currency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <canvas id="myChart"></canvas>

  <script>

   document.getElementById('start').defaultValue = '2020-01-11';
    document.getElementById('end').defaultValue = '2020-02-10';

    
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js"></script>
</body>

</html>