<!DOCTYPE html>
<html>

<head>
  <title>btc price</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  <h2>Filters</h2>
  <input id="from-date" type="date">
  <input id="to-date" type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
  <select id="currency"></select>
  <canvas id="myChart" width="400" heigth="400"></canvas>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>