<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <div class="container">
    <div class="dates">
      <div>
        <p>Date from:</p><input type="date" name="fromId" id="fromId" value="2019-08-31">
      </div>
      <div>
        <p>Date to:</p><input type="date" name="toId" id="toId" value="2020-02-14">
      </div>
    </div>

    <div>
      <p>Currency:</p>
      <select name="currencyId" id="currencyId">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
      </select>
    </div>
    <div class="values">
      <div>
        <p>Min Value:</p><span id="min"></span>
      </div>
      <div>
        <p>Max Value:</p><span id="max"></span>
      </div>
    </div>
  </div>


  <div style="height:800px; width:800px;">
    <canvas id="myChart"></canvas>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>