<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <p>from</p>
  <input id="from" type="date">
  <p>to</p>
  <input id="to" type="date">
  <button id="button">Clicky</button>
  <canvas id="myChart"></canvas>

  {{!-- <button id="financial">See THAT</button> --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</body>

</html>