<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Grafica </h1>
    <p>Welcome to  {{title}} </p>
    <input type="date" name="dateStart" id="dateStart" value="2013-04-12" onclick="changeDate()"> 
    <input type="date" name="date" id="dateEnd" value="2019-04-12" onchange="changeDate()"> 


    <canvas id="dataCanvas"  width="400" height="200"></canvas>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
