<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <div>From <input type="date" name="from-date" id="fromDate" value="2019-01-01"></div>
  <div>To <input type="date" name="to-date" id="toDate" value="2019-12-01"></div>
  <div style="width:90%;">
    <canvas id="myChart"></canvas>
  </div>

</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>