<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload='refreshDate()'>
    <h1>Filters</h1>

    <label>From: </label>
    <input type="date" id="fromDate" oninput="refreshDate()" value="2019-05-25">
    <br><br>
    <label>To: </label>
    <input type="date" id="toDate" oninput="refreshDate()" value="2019-12-25">
    <br><br>
    <label>Currency: </label>
    <select id="currency" onchange="refreshDate()">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    <select>
    </p>

    <canvas id="myChart"></canvas>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
