<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>  
        <p>This is historical data. Select start date and end date to update the chart. You can also change currency.</p>
        <label>From: <input type="date" id="fromDate"></label>
        <label>To: <input type="date" id="toDate"></label>
        <select id="currency">
          <option selected="selected" value="USD">Dólares</option>
          <option value="EUR">Euros</option>
          <option value="GBP">Libras</option>
          <option value="CNY">Yuanes</option>
          <option value="RUB">Rublos</option>
        </select>
        <br><br>
        <p><strong>Max value:</strong><span id="max"></span></p>
        <p><strong>Min value:</strong><span id="min"></span></p>
        <div class="container">
          <canvas id="myChart"></canvas>
        </div>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
