<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="./chart.js/dist/Chart.min.js"></script>
    <script src="javascript/index.js"></script>

    <div class="input-div">
      <label for="startingDate">StartingDate</label>
      <input id="startingDate" type="date" name="startingDate" class="dateinput">
      <br><br>
      <label for="endDate">EndDate</label>
      <input id="endDate" type="date" name="endDate" class="dateinput">
      <br><br>
    </div>

  </body>
</html>
