<!DOCTYPE html>
<html>

<head>
  <title> Financial Data Graphing </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> Financial Data Graphing </h1>
  <p>Check your Bitcoin Price Index 🚀</p>
  <div class="graph-data">
    <div class="data">
      From: <input type="date" name="from-date" id="fromDate" value="2019-01-01">
      To: <input type="date" name="to-date" id="toDate" value="2019-12-01">
    </div>
    <div class="data">
      Choose the currency:
      <select name="currency" id="currency">
        <option value="USD" id="usd">USD</option>
        <option value="EUR" id="eur">EUR</option>
      </select>
    </div>

    <div class="data">
      Max Value = <span id="max"></span>
      Min Value = <span id="min"></span>
    </div>
  </div>

  <div style="width:90%;">
    <canvas id="myChart"></canvas>
  </div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>