<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </head>
  <body>
    <h1> IronBeers </h1>
    <p>Welcome to project of Sofía and Yisus</p>

    <input type="date" id="init" value="2019-01-05">
    <input type="date" id="finish" value="2019-02-04">


<canvas id="myChart" width="350" height="150"></canvas>

<script>

</script>

  </body>
</html>
