<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <input type="date" id="firstInput" value="Start date">
    <input type="date" id="lastInput" value="Last Date">
    <select id="currency">
    </select>
    <button id="filter">Filter</button>

    <canvas id="myChart"></canvas>

    <div id="min"></div>
    <div id="max"></div>
  </body>
  <script src="/javascripts/currencyData.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
