

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>
<body>
  <h1>BITCOIN</h1>
  <!-- <input id="startDate" type="date" name="startDate">
  <input id="endDate" type="date" name="endDate"> -->
   <!-- <button id="getdata">Get Data</button> -->
  <canvas id="myChart" width="400" height="400"></canvas>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  <script src="jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/main.js"></script>
  <script src="chart.js/dist/Chart.min.js"></script>
</body>
</html>
