<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/chart.js/dist/Chart.js">

    </script>
    <script src="/javascript/index.js">

    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id="canvas" width="200" height="200"></canvas>
  </body>
</html>
