<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <label>Start date:</label>
  <input id="start-date" type="date" value="2018-01-01">
  <label>End date:</label>
  <input id="end-date" type="date" value="2018-02-06">
  <button id=chart>Draw it :D</button>
  <div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>