<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<canvas id="bitcointchart"></canvas>

  <input type="date" id="dateStart">
  <input type="date" id="dateEnd">
  <button id="applyDates">Apply date selected</button>

  <select id="coinType">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>

  <div>
    <p>Values</p>
    <p>Max: <span id="max"></span></p>
    <p>Min: <span id="min"></span></p>
  </div>
  
  
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</html>
