<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>

  <h1>GRACIAS SANDRA</h1>
  <input id="fromInput" type="date" data-date="" data-date-format="YYYY MM DD" />
  <input id="toInput" type="date" data-date="" data-date-format="YYYY MM DD" />

  <select name="currency" id="currency">
    <option value="EUR">EUR</option>
    <option value="USD">US</option>
  </select>
  <button id="theButton">FUCK SANDRA</button>

  <br>
  <span>MAX: </span>
  <p id="maxValue"></p>
  <span>MIN: </span>
  <p id="minValue"></p>

  <canvas id="myChart"></canvas>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>