<!DOCTYPE html>
<html>
  <head>
    <title>LAB FINANCIAL DATA</title>

    {{!--pulpitops  <%= %> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LAB FINANCIAL DATA</h1>
    <p>Bienvenido a lab de datos gráficos</p>
  
  <input type="date" id="desde">
  <input type="date" id ="hasta"> 
  <button id="boton"> Consultar</button>

<canvas id="myChart"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</body>
</html>
