<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    {{!-- para ver los datos que nos traemos del js --}}
    {{!-- <p>Bitcoin value: <span id="value"></span> in Eur</p> --}} 
  </body>
  {{!-- definir el chart en canvas para poder pintar --}}
  <canvas id="myChart"></canvas> 

  {{!-- this is necesary to use axios --}}
  <script src ="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- ----- --}}

  {{!-- this is necesary to use chart --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  {{!-- ----- --}}

  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
