<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
   canvas{
     
    }
  </style>
  <body>
    <h1> {{title}}</h1>
    <p>Welcome to  {{title}} </p>
      <input type="date" name="from date" id="fdate" value="2020-01-01">
      <input type="date" name="to date" id="tdate" value="2020-05-01">
    <canvas id="myChart">

    </canvas>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
