<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title=title
  body
    block content
      h1=content
      p Welcome to #{title}

      label(for="startDate") FROM: 
      input(id="startDate" type="date")
      label(for="finishDate") TO: 
      input(id="finishDate" type="date")

      

      <canvas id="myChart" width="400" height="400"></canvas>



      script(src="https://unpkg.com/axios/dist/axios.min.js")
      script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js")
      script(src="/javascripts/financial-data.js" harset="utf-8")
      


