<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bitcoins data </h1>
    <p>Welcome to  info of bitcoins </p>

    <p>Introduzca las dos fechas entre la que quiere indagar:</p>
    <select name="coin" id="coin">
      <option value="EUR">Euros</option>
      <option value="USD">Dolares</option>
    </select>
    <input type="date" name="date1" id="date1">
    <input type="date" name="date2" id="date2">
    <button type="submit" id="button-sub">pinche aquí para cambiar popinos</button>

    <canvas id="bitcoins"></canvas>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
