<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>

    <div>
      <h2>Filters</h2>
      <label for="start-date">From:</label>
      <input type="date" name="start-date" id="start-date">
      <label for="end-date">To:</label>
      <input type="date" name="end-date" id="end-date">
    </div>
    <div>
      <h2>Values</h2>
      <p id="max-value"></p>
      <p id="min-value"></p>
    </div>
    <canvas id="myChart"></canvas> 
    

  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</html>
