<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <label for="startDate">Start Date</label>
    <input type="date" name="startDate" id="startDate">

    <label for="endDate">End Date</label>
    <input type="date" name="endDate" id="endDate">

    <label for="currency">Currency</label>
    <select name="currency" id="currency">
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
    </select>

    <button class="financial-data-load">View Chart</button>

    <canvas id="myChart" width="400" height="400"></canvas>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script src="/javascript/financial-data.js"></script>
  </body>
</html>
