<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

<canvas id="myChart" width="400" height="400"></canvas>
  </body>
  
<!-- were going to be working under financial-data--with chart js and coindesk -->
<!-- go into chart js and read about it, 
use axious to bring in the info from coindesk.  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>
<script>
   
  </script>




</html>
