<!DOCTYPE html>
<html>

<head>
  <title>
   BitCoin
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
 BITCOIN VALUE
  </h1>

<div id="wrapper">
  FROM:
  <input id="from" type="date" value="2017-06-01"> TO:
  <input id="to" type="date" value="2017-10-01">


  <select id="currency">
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="EUR">EUR</option>
  </select>
  <button id="draw-chart">DRAW CHART</button>
<div id="max-min"></div>
</div>


  <canvas id="myChart"></canvas>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>