<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 style="text-align: center;">Bitcoin Info</h1>

  <label for="">From</label>
  <input type="date" id="dateFrom" onclick="dateFilter()" value="2020-01-01">
  <label for="">To</label>
  <input type="date" id="dateTo" onclick="dateFilter()" value="2020-02-01">

  <canvas id="myChart"></canvas>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</body>

</html>
