<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="" onchange="request()">

    <select name="currency" id="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="CNY">CNY</option>
    </select>

    <label for="from">From</label>
    <input type="date" id="from" name='from'>
    <label for="to" name='to'>To</label>
    <input type="date" id="to">

  </form>
  <canvas id="myChart"></canvas>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>