<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
      <h2 class="Filters">Filters
        <label for="start">From:
        <input type="date" id="startDate" value="2019-01-01">
        </label>

        <label for="start">To:
        <input type="date" id="endDate" value="2019-02-18">
        </label>
      </h2>
    <canvas id="myChart" width="300" height="150"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
