<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <input type="date" id="InitialDate" placeholder="InitialDate" value="2013-09-01">
  <input type="date" id="FinalDate" placeholder="FinalDate" value="2013-09-10">
  <select id="currency">
    <option value="EUR">EUR</option>
    <option value="USD">USD</option>
  </select>

  <button id="getAPIInfo">Refresh Data</button>

  <div width="150px" height="150px">
    <canvas id="myChart"></canvas>
  </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>