<!DOCTYPE html>
<html>

<head>
  <title> Graficos} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> Graficos </h1>
  <p>Welcome to {{title}} </p>
  Start<input id="start" class="date" type="date"><br>
  End<input id="end" class="date" type="date">
  <br>
  <select id="currency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>
  <br>
  <br>
  Precio maximo:<p id="max"> </p>
  <br>
  Precio minimo:<p id="min"> </p>


  <canvas id="myChart"></canvas>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</body>

</html>