<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>

    <div class="container">
      <div>
        <h3>Filters</h3>  
        <label for="first-date">From: </label>
        <input type="date" id="first-date">
        <label for="second-date">To: </label>
        <input type="date" id="second-date">
      </div>
      <div>
        <h3>Values</h3>
        <div id="max">Max: </div>
        <div id="min">Min: </div>
      </div>
    </div>

    <br>
    <select id="currency" name="currency">
      <option value="USD">Currency ($US)</option>
      <option value="EUR">Currency (EUR)</option>
    </select>

    <canvas id="myChart" width="400" height="250"></canvas>

  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
