<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <canvas id="myChart"  width="900" height="300"
style="border:1px solid #000000;"></canvas>
<label name="dateFrom">From</label><input id="dateStart" type="date" name="dateFrom" value="2013-09-01">
<label name="dateTo">To</label><input id="dateEnd" type="date" name="dateTo" value="2013-09-05">
 
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>


</html>