<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!-- <script type="text/javascript" src= "../bower_components/jQuery/dist/jquery.min.js"></script>-->
    <script type="text/javascript" src= "financial.js" ></script>
  </body>
</html>
