<!DOCTYPE html>
<html>

  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1> {{title}} </h1>
    <p>Welcome to {{title}} </p>

    <input type="date" id="start-date" value="2013-12-12">
    <input type="date" id="end-date" value="2014-12-12">

    <select name="" id="currency-index">

    </select>

    <canvas id="myChart"></canvas>





    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script src='/javascripts/financial-data.js'></script>

  </body>

</html>