<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> BitCoin-chart </h1>

    <label for="from-input">from</label>
    <input type="date" name="" id="start-date">
    <label for="from-input">to</label>
    <input type="date" name="" id="end-date">
    <button id="update-date">Update</button>
    <br>
    
    <select id="select-currency" onchange="">
      <option value="USD" >USD</option>
      <option value="EUR" >EUR</option>
      <option value="RUB" >RUB</option>
      <option value="JPY" >JPY</option>
      <option value="MXN" >MXN</option>
    </select>
    <br>
    <canvas id="myChart"></canvas>
      <h3 id="max">Maximum</h3>
      <h3 id="min">Minimum</h3>
  
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>

</html>
