<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="button">Call the api</button>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/financial-data.js"></script>

  </body>
</html>
