<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="inline">
      From:<input type="date" id="start" class="inputs" value="2016-09-01">
      To:<input type="date" id="end" class="inputs" value="2017-06-01"></input>
      <select id="value">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <div class="right inline">
      <h3>Max value</h3>
      <p id="max"></p>
      <h3>Min value</h3>
      <p id="min"></p>
    </div>
    <div id="chartContainer">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>




