<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> lab-financial-data-graphing </h1>
    <p>Filters</p>
    <input type="date" id="start">
    <input type="date" id="end">

    <div>
      <select name="currency" id="currency">
        <option value="USD">USD</option>
        <option value="MXN">MXN</option>
        <option value="EUR">EUR</option>
      </select>
    </div>
    <canvas id="canvas" width="400" height="400"></canvas>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>