<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Axios GET Request</title>
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <form action="javascript:void 0">
    <h1> Date Filter </h1>
    <input type="date" id="startDate" value="2018-10-01">
    <input type="date" id="endDate" value="2018-11-01">

  </form>

  <canvas id="myChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</body>