<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    
    <h1>Bitcoin Price</h1>
    <div class='dates-container'>
      <h4>Start Date</h4>
      <input type='date' id='start-date' value="2019-09-01">
      <h4>End Date</h4>
      <input type='date' id='end-date' value="2019-10-01">
    </div>
    <div class='currency-container'>
      <h4>Currency</h4>
      <select id='currency'>
        <option value='EUR'>EUR</option>
        <option value='USD'>USD</option>
        <option value='GBP'>GBP</option>
      </select>
    </div>
    <br>
    <div class='btn'><button id='submit-btn'>Submit</button></div>
    <h1>Values</h1>
    <div id='max'></div>
    <div id='min'></div>

    <canvas id="myChart"></canvas>

    <script>

      let submitButton = document.getElementById('submit-btn');

      submitButton.addEventListener('click', function(event){

      let startDate = document.getElementById('start-date').value;
      let endDate = document.getElementById('end-date').value;
      let currency = document.getElementById('currency').value;  

      let start = startDate.split('/').reverse().join('-');
      let end = endDate.split('/').reverse().join('-');
      console.log(start, end)
      
      axios.get(`https://api.coindesk.com/v1/bpi/historical/close.json?start=${start}&end=${end}&currency=${currency}`)
        .then((response)=> {
          console.log(response.data.bpi)
            let x = Object.keys(response.data.bpi);
            let y = Object.values(response.data.bpi);

            let max = document.getElementById('max');
            max.innerHTML = "Max: " + Math.max(...y);

            let min = document.getElementById('min');
            min.innerHTML = "Min: " + Math.min(...y);

            let ctx = document.getElementById('myChart').getContext('2d');
            let chart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: x,
                  datasets: [{
                    label: 'Bitcoin Price Index',
                    borderColor: 'rgb(255, 99, 132)',
                    data: y           
                  }]
                }       
          });
        })
      .catch((error)=> {   
          console.log(error)        
              })
      })

    </script>
  </body>
</html>
