<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js"></script>
</head>
<body>
  <div>
    <div class="filters">
      <h2>Filters</h2>
        <div> 
          <label>From:</label>
          <input class="applyDates" type="date" id="dateStart">
          <label>To:</label>
          <input class="applyDates" type="date" id="dateEnd" >
        </div>
        <div>
          <label>Currency</label>
          <select name="selcurr" id="isoCurrency">
            <option value="EUR">Euro</option>
            <option value="USD">Dólar</option>
            <option value="GBP">Libra</option>
          </select>
        </div>

    </div>
    <div class="values">
      <h2>Values</h2>
      <p id="maxValue"></p>
      <p id="minValue"></p>
    </div>

  </div>
  <canvas id="myChart"></canvas>



  
</body>
</html>