<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
  </head>
  <body>
    <h1>Bitcoin chart</h1>
    <label for="from-date">From: </label>
    <input type="date" id="from-date">
    <label for="to-date">To: </label>
    <input type="date" id="to-date">
    <button>search</button>
    <br>
    <canvas id="myChart" width="400" heigght="400"></canvas>

    <input type="text" id="symbol">
    <button>search</button>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
