<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id="myChart" width="400" height="400"></canvas>
    <form action="/" method="POST">
      <input id="start" type="date" name="start"></input>
      <input id="end" type="date" name="end"></input>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
