<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    
      <label for="dateBegin">Date from: </label>
      <input type="date" name="dateBegin" id="dateBegin" value="">
      <label for="dateFinish">Date to:</label>
      <input type="date" name="dateFinish" id="dateFinish" value="">
    
    <canvas id="myChart" width="200" height="50"></canvas>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
