<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <label for="from">From</label>
  <input type="date" id="date-from" name="date">

  <label for="to">To</label>
  <input type="date" id="date-to" name="date">

  <label for="currency">Currency</label>
  <select>Currency</select>

  <button id="newChart" onclick="newDate()">New chart</button>


  <canvas id="myChart" width="400" height="400"></canvas>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>