<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/home/raul/IronHack18/IronHackWeek05/class03/lab-financial-data-graphing/starter-code/public/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id="myChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/home/raul/IronHack18/IronHackWeek05/class03/lab-financial-data-graphing/starter-code/public/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
  