<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  From<input type="date" id="inicio" onclick="changeDate()" value="2017-07-21">
  to <input type="date" id="final" onclick="changeDate()" value="2017-09-23">
  <canvas id="myChart" width="300" height="300"></canvas>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
  integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
<script>
  const incio = document.querySelector("#inicio")
  let lincio = incio.value
  const final = document.querySelector("#final")
  let lfinal = final.value
  let info = []
  let dates = []
  const canvas = document.querySelector("canvas")
  const ctx = canvas.getContext("2d")
  axios.get((`http://api.coindesk.com/v1/bpi/historical/close.json?start=${lincio}&end=${lfinal}`))
    .then(({ data: { bpi } }) => {
      info = Object.values(bpi)
      dates = Object.keys(bpi)
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: dates,
          datasets: [{
            label: '# of Votes',
            data: info
          }]
          ,
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        }
      })
    })
  function changeDate() {
    axios.get((`http://api.coindesk.com/v1/bpi/historical/close.json?start=${lincio}&end=${lfinal}`))
      .then(({ data: { bpi } }) => {
        info = Object.values(bpi)
        dates = Object.keys(bpi)
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: dates,
            datasets: [{
              label: '# of Votes',
              data: info
            }]
            ,
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          }
        })
      })
  }
</script>