<!DOCTYPE html>
<html>
  <head>
    <title> Bitcoin analizer </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bitcoin analizer </h1>
    <p>Filters</p>
    <p>from</p>
    <input type="date" name="from" id="start">
    <h5>to</h5>
    <input type="date" name="to" id="end">
    
    <canvas id="myChart"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
