<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
   <form action="/" method="GET">
 <label for="">Start date</label>
    <input type="date" name="start" id="start">
    <label for="">End date</label>
    <input type="date" name="end" id="end">
    <select name="currency" id="currency">
      <option value="EUR">EUR</option>
      <option value="USD">USD</option>
    </select>
   </form>
   <h3 id="max">Max value:</h3>
   <h3 id="min">Min value:</h3>
   <div>
       <canvas id="myChart" width="200" height="100"></canvas>

   </div>
    
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
