<div id="form">
    <label for="">Start date:</label>
    <input type="date" name="startDate" id="startDate">
    <label for="">End date:</label>
    <input type="date" name="endDate" id="endDate">
    <select id="currency">
        <option value="USD">United States Dollar</option>
        <option value="EUR">Euro</option>
    </select>
    <button id="submit">Send!</button>
</div>

<canvas id="myChart"></canvas>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="/javascripts/financial-data.js"></script>
