<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>BitCoin</title>
</head>

<body>

  <label>From: <input type="date" id="from"></label>
  <label>To: <input type="date" id="to"></label>
  <div id="canvas-container">
    <canvas id="canvas"></canvas>
  </div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>
