<!DOCTYPE html>
<html>

<head>
  <title> Chart</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> Chart</h1>
  <p>Welcome to Chart</p>
  <label for="from">From:</label>
  <input type="date" name="from" id="from">
  <label for="to">To:</label>
  <input type="date" name="to" id="to">
  <canvas id="myChart"></canvas>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js"></script>

</html>