<!DOCTYPE html>
<html>

<head>
  <title> Bitcoin Price Index </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>
  <h1> Bitcoin Price Index </h1>
  <form>
    <label for="start-date">From: </label><input id="start-date" type="date" name="start-date">
    <label for="end-date">To: </label><input id="end-date" type="date" name="end-date">
  </form>
  <canvas id="myChart"></canvas>
</body>


<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>