<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <form id="data-form" action="/values" method="POST">
    <input id="startDate" type="date" name="startDate" id="startDate" value="2018-01-01">
    <input id="endDate" type="date" name="endDate" id="endDate" value="2019-01-01">
    <select id="currency" name="currency" id="currency" value="USD">
      <option value="EUR">EUR</option>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
    </select>
  </form>


  <canvas id="myChart"></canvas>

</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>