<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Filter</h2>
    <form>
      <div>
        <label for="fromdate">From:</label>
        <input type="date" name="fromdate" id="fromdate"/>
      </div>
      <div>
        <label for="todate">To:</label>
        <input type="date" name="todate" id="todate"/>
      </div>
    </form>
    <canvas id="myChart" width="400" height="400"></canvas>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
