<label>FROM: </label>
<input id="startDate" type="date"> 
<label>TO: </label> 
<input id="endDate" type="date">
<label>Currency: </label>
<select id="currency">
  <option selected value="USD">USD</option>
  <option value="EUR">EUR</option>
</select>
<div>
  <label id="maxValue">Max: </label>
  <label id="minValue">Min: </label>
</div>

<canvas id="myChart" width="400" height="400"></canvas>