<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <div id="dates">
    <label for="dateF">From</label>
    <input id="dateF" type="date" name="dateF">
    <label for="dateT">To</label>
    <input id="dateT" type="date" name="dateT">
  </div>

  <canvas id="myChart" width="400" height="100"></canvas>

</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>