<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OMG This shit</h1>

    <input type="date" id="inicio-fecha">
    <input type="date" id="final-fecha">
    <input type="submit" value="Buscar" id="buscar">

    <canvas id="canvas" width="512" height="512"></canvas>


  </body>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</html>
