<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1> {{title}} </h1>
    <form id="filter">
      <input type="date" id="start">
      <input type="date" id="end">
      <input type="submit" value="Filter!">
    </form>
    
    <div id="container">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script>
    moment().format();
  </script>
  {{!-- CHARTJS CDN --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  {{!-- AXIOS CDN --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- CUSTOM JS --}}
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
