<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{!-- put CDN here --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/getData.js" charset="utf-8" type="module" defer></script>
</head>

<body>
  <label for="start">From:</label>
  <input id="startDate" type="date" id="start" name="start" value="">
  <label for="start">To:</label>
  <input id="endDate" type="date" id="end" name="end" value="">
  <button id="update-chart">update view</button>
  <hr>
  <form>
    <label for="currencies">pick currency</label>
    <input id="currencyInput" type="text" list="curr" id="currencies" name="currencies">
    <datalist id="curr">
    </datalist>
    <hr>
  </form>

  <canvas id="chart"></canvas>
</body>

</html>