<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
     
    <input value="2018-01-10" id= "from" type="date">
    <input value="2018-01-20" id = "to" type="date">
    <button id ="update-value">new chart</button>
    <canvas id="myChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/home/raul/IronHack18/IronHackWeek05/class03/lab-financial-data-graphing/starter-code/public/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
   <link rel='stylesheet' href='/home/raul/IronHack18/IronHackWeek05/class03/lab-financial-data-graphing/starter-code/public/stylesheets/style.css'/>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>



