<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>Filters</h2>
  <label for="start">From</label>
  <input type="date" name="start" id="start">
  <label for="end">To</label>
  <input type="date" name="end" id="end">


  <canvas id="myChart"></canvas>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>