<!DOCTYPE html>
<html>
  <head>
    <title> BitcoinPriceIndex lab </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
  </head>
  <body>
    <div class='search-container'>
      <label for="start-date">Start Date: </label>
      <input type="date" id='start-date'>
      <label for="end-date">End Date: </label>      
      <input type="date" id='end-date'>
      <label for="currency">Currency: </label>
      <select name="currency" id="currency">
        <option value="DJF">Djiboutian Franc</option>        
        <option value="EUR">EURO</option>
        <option value="JPY">YEN</option>
        <option value="USD">USD</option>
        <option value="GBP">POUND</option>
        <option value="WST">Samoan Tala</option>
        <option value="CNY">YUAN</option>
        <option value="ZMW">Zambian Kwacha</option>
      </select>
      <br>
      <button id='btn'>Search</button>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
  
</html>
