<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <p>From:</p><input type="date" id="dateto">
  <p>To:</p><input type="date" id="datefrom">
  <canvas id="myChart" width="400" height="200"></canvas>

</body>

</html>