<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <!-- use input's id to grab the value from the input field -->
  <label for="theInput"></label>
  <input id="theInput" type="text" />
  <button id="theButton">Get the country</button>

  <!-- the data we get from the API will be populated in here: -->
  <h2 id="countryName"></h2>
  <p id="countryCapital"></p>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>