<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bitcoin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bitcoin Chart</h1>
    <label for="fromDate">From: </label>
    <input id="fromDate" oninput="sendDate()" type="date" data-date-format="YYYY MM DD">
    <label for='toDate'>To: </label>
    <input id="toDate" oninput="sendDate()" type="date">
    <h2>Values</h2>
    <p id="maxValue">Max:</p>
    <p id="minValue">Min:</p>

    <canvas id="myChart"></canvas>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
