<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
     
  </head>

  <body
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    
    
    <input type="date" id="dateinicio" min="2015-10-01">
    <input type="date" id="datefin" max="2019-11-23">
    <canvas id="myChart" width="400" height="400"></canvas>



  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>



