<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  From:
  <input id="start" type="date" name="start" value="2018-01-05"> 
  To:
  <input id="end" type="date" name="end" value="2018-02-06">
  <button id="button"> Fiter by dates</button>
  <canvas id="myChart" width="600" height="315"></canvas>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>