<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <div>
    <h2>Filters</h2>
    <form action="#">
      <label for="from">From:</label>
      <input type="date" id="from" value="2020-01-06" onchange="refresh()">
      <label for="to">To:</label>
      <input type="date" id="to" value="2020-02-06" onchange="refresh()">
    </form>
  </div>

  <canvas id="myChart" width="400" height="400"></canvas>



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>