<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h1> Welcome to Mordor financial page </h1>

  <div class="content">
    <dis class="col">
      <h2>Filters</h2>
      <label for="startDate">From</label>
      <input type="date" name="startDate" id="startDate">
      <label for="endDate">To</label>
      <input type="date" name="endDate" id="endDate"><br><br>
      <label for="currency">Currency</label>
      <select name="currency" id="selectCurrency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
    </dis>
    <dis class="col">
      <h2>Values</h2>
      <p>Max: <span class="maxNumber"></span> <span class="currency"></span></p>
      <p>Min: <span class="minNumber"></span> <span class="currency"></span></p>
    </dis>
  </div>
  <canvas id="bitCoinCanvas"></canvas>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>