<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    from: <input id='fromDate' type="date" name='desde'>to: <input id='toDate' type="date" name='hasta'>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
    <canvas id="myChart" width="400" height="400"></canvas>

  
</html>




