<!DOCTYPE html>
<html>
  <head>
    <title> Graphical DataBitcoin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Graphical Data</h1>

    <input type="date" id="initialDate" onchange="datesRates()">
    <input type="date" id="endDate" onchange="datesRates()">

     <button id="getData">Get All Data</button>
    <canvas id="myChart"></canvas>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
