<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <canvas id="chart"></canvas>

  From:
  <input type="date" id="from" value="2016-01-12">
  To:
  <input type="date" id="to" value="2020-02-29">

  <select id="currency">
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>

  Filter
  <button onclick="Filter()">Click Me</button>


</body>

</html>