<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<input type="date" name="Init" id="initDate">
<input type="date" name="Final" id="finalDate">

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> 
<script src="/javascripts/financial-data.js"></script>
