<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>
    <canvas id="myChart" width="400" height="400"></canvas>
    <div id="fincial-data"></div>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>



{{!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>Star Wars</h1>
    <img id="pokemon" src="" alt="" />
    <div class="search">
      <input type="text" class="search-input" placeholder="searchPokemon" />
      <button id="search-btn" type="submit" class="searchButton">
        Search pokemon
      </button>
    </div>

    <div id="abilities">
      <ul></ul>
    </div>
    <div id="error"></div>
    <script src="script.js"></script>
  </body>
</html> --}}