<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Titke</h1>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
