<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Money, money, money!</h1>
      <section>
        <h2>Filters</h2>
        <form class="form-filters" action="index.html" method="post">
          <label for="dateFrom">From:</label>
          <input id="dateFrom" type="date" name="dateFrom" value="2017-06-01">
          <label for="dateTo">To:</label>
          <input id="dateTo" type="date" name="dateTo" value="2017-06-30">
          <label for="currency">Currency:</label>
          <select id="currency">
            <option value="USD">US Dollars</option>
            <option value="EUR" selected="">Euros</option>
          </select>
        </form>
      </section>
      <section>
        <h2>Values</h2>
        <p>Max: <span id="maxValue"></span></p>
        <p>Min: <span id="minValue"></span></p>
      </section>
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <script src="./jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="./chart.js/dist/Chart.min.js" charset="utf-8"></script>
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>
</html>
