<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="container">
    <div>
      <span>From:</span><input type="date" id="startFrom" name="dateFrom" value="2019-11-10">
      <span>To:</span><input type="date" id="startTo" name="dateTo" value="2019-11-19">
    </div>
      <canvas id="chart"></canvas>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</body>


</html>