<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <input type="date" id="from-date">
    <input type="date" id="to-date">
    <canvas id="myChart" width="400" height="400"></canvas>

    

    <script src="/jquery/dist/jquery.js"></script>
    <script src="./chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="/js/finantial.js"></script>
    <script>      
      // var ctx = $("#myChart");
      // var myChart = new Chart(ctx, {        
      //   type: 'line',
      //   data: data,
      //   options: options
      // });





    </script>
  </body>
</html>
