<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> {{title}} </h1>
      <h2 class="Filters">Filters
        <label for="start">From:
        <input type="date" id="startDate" name="startDate"
            value="2018-01-01"
            min="2013-01-01" max="2019-3-31">

        <label for="start">To:
        <input type="date" id="endDate" name="endDate"
            value="2018-01-01"
            min="2013-01-01" max="2019-3-31">
        </label>
      </h2>
    <canvas id="myChart" width="400" height="150"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
