<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
</body>
<canvas id="historialChart" width="600" height="600"></canvas>

From:
<input type="date" id="from" onclick="getFilter()" value="2018-01-12">
To:
<input type="date" id="to" onclick="getFilter()" value="2020-02-14">

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>


</html>