<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>Welcome to  {{title}} </p>

    <input type="date" id="dateStart">
    <input type="date" id="dateEnd">
    <select id="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
    <canvas id="chart"></canvas>
    <p>Min: <span id="min">0</span></p>
    <p>Max: <span id="max">0</span></p>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
