<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

		<input type="date" id="start-date">
		<input type="date" id="end-date">

		<canvas id="myChart"></canvas>

		<script src="/jQuery/dist/jquery.min.js"></script>
		<script src="/javascripts/financial-data.js"></script>
		<script src="/chart.js/dist/Chart.min.js"></script>
  </body>
</html>
