<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <form action="">
    <label for="startDate">Fecha Inicio:
      <input type="date" name="startDate" id="startDate">
    </label>
    <label for="endDate">Fecha Final:
      <input type="date" name="endDate" id="endDate">
    </label>
  </form>
  <canvas id="chart" width="350" height="150"></canvas>
</body>
{{!-- axios CDN --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- Chart js CDN --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>