<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> bitcoin </h1>
  <p>Welcome to {{title}} </p>
</body>

<input type="date" id="start-date">
<input type="date" id="end-date">
<button id="search">search</button>

<select name="" id="currency">
  <option value="EUR">EUR</option>
  <option value="USD">USD</option>
</select>

<div>
  <label for="maxValue">max Value</label>
  <input type="text" id="max-value">
  <label for="minValue">min Value</label>
  <input type="text" id="min-value">
</div>
<canvas id="myChart"></canvas>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>