<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title> BitCoin </title>
</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <p>IronHack</p>
      </a>
      <a href="#" class="item">Home</a>
    </div>
  </div>
  <canvas id="myChart"></canvas>
  <script src="/javascripts/financial-data.js"></script>


</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>