<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>

  <div>
    <h1>filter</h1>
    <label for="start">From</label>
    <input type="date" id="start" name="start">
    <label for="end">To</label>
    <input type="date" id="end" name="end">
    <button id="search-button">search</button>
  </div>

  <div>
    <select name="currency" id="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
    <button id="currency-button">cash!</button>
  </div>


  <canvas id="myChart" width="400" height="400"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

</body>

</html>