<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>

  <!–iteracion 1 Add the Axios reference in the HTML through CDN to be able to use it->

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</html>
