<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>

    <input type="date" id="startDate" value="2018-02-22">
    <input type="date" id="endDate" value="2018-05-27">

  <canvas id="myCanvas"></canvas>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/bitcoinAPI.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>