<!DOCTYPE html>
<html>

<head>
  <script src="jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>
  <canvas id="myChart"></canvas>
  <script>
    $(function() {
      $.getJSON("http://api.coindesk.com/v1/bpi/historical/close.json").then(
        function(response) {
          console.log(response.bpi)
          var labels = []
          var chartData = Object.keys(response.bpi).map(function(value, index){
            labels.push(value)
            return {x:value, y:response.bpi[value]}
          })
          console.log(labels)
          var ctx = document.getElementById('myChart').getContext('2d');
          var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
              datasets: [{
                label: "Bitcoin Price Index",
                data: chartData
              }],
              labels: labels
            },

            // Configuration options go here
            options: {}
          });
        })
    })
  </script>
</body>

</html>
