<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<body>
  <h1> Coindesk API </h1>
  <p>Start Date: <input type="text" id="start" value="2017-01-01"></p>
  <p>End Date: <input type="text" id="end" value="2018-02-27"></p>
  <p>Currency:
    <select id="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="CHF">CHF</option>
    </select>
  </p>
  <p>Day with highest value: <span id="highestVal"></span></p>
  <p>Day with lowest value: <span id="lowestVal"></span></p>
  <canvas id="customChart"></canvas>
</body>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>