<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> {{title}} </h1>
  <p>Welcome to {{title}} </p>
  <h2>Dates</h2>
  From <input id="date-from" type="date" value="2018-03-16">
  To <input id="date-to" type="date" value="2019-03-16">
  <label for="pet-select">Choose a pet:</label>
  <select id="currency">
    <option value="">--Please choose a currency--</option>
    <option value="usd">USD</option>
    <option value="eur">EUR</option>
  </select>

  <canvas id="myChart" width="400" height="400"></canvas>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

</html>