<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <canvas id="myChart" width="300" height="300"></canvas>
    <input type="date" id="start"name="start" value="">
    <input type="date" id="end"name="end" value="">
    <button id="filter-date" type="submit" name="button">Submit</button>
<script src="chart.js/dist/Chart.min.js"></script>
<script src="jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="index.js"></script>
  </body>
</html>
