<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1> BPI Chart </h1>
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <label for="start-date">Start</label>
        <input type="date" id="start-date" name="start-date" value="2019-02-04" min="2017-01-01" max="2019-02-05">
        <label for="end-date"></label>
        <input type="date" id="end-date" name="end-date" value="2019-02-05" min="2017-01-01" max="2019-02-05">
        <label for="currency-code">Currency Code</label>
        <input id="currency-code" name="currency-code" type="text">
      </div>
      <button class="btn" id="generate-button">Generate Chart</button>
    </div>
    <div>
      <span>Highest rate:<span id="highest-rate"></span></span>
      <span>Highest rate:<span id="lowest-rate"></span></span>
    </div>
  </div>

  <canvas id="canvas"></canvas>

  {{!-- scripts --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" integrity="sha256-rjYnB0Bull7k2XkbJ03UNGqMuMieR769uQVGSSlsi6A="
    crossorigin="anonymous"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</body>

</html>