<!DOCTYPE html>
<html>
  <head>
    <script src="/jQuery/dist/jquery.js"></script>
    <script src="/chart.js/dist/Chart.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
   <canvas id="myChart" width="400" height="400"></canvas>
   
   <script src="./chart.js/dist/Chart.min.js"></script>

  </body>
</html>
