<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
    <h3>Filtre by date</h3>
    <label>From</label>
    <input type="date" id="debut"></input>
    <label>to </label>
    <input type="date" id="fin"></input>
    <button type="submit" id="button">Submit</button>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
    
    <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  </body>

</html>
