<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Financial Data Graphing</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
</head>

<body>

  <form>
    <label for="date-from">From:</label>
    <input type="date" name="date-from" id="date-from">
    <label for="date-to">To:</label>
    <input type="date" name="date-to" id="date-to">
    <button type="button" onclick="updateChart('2019-01-01', '2019-05-01');">Submit</button>
  </form>
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
  </div>



  {{!-- {{{body}}} --}}

  <script src="/javascripts/financial-data.js"></script>
</body>

</html>