<!DOCTYPE html>
<html>
  <head>
    <title> Bitcoin Data Graph </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bitcoin Data Graph</h1>
    <p>Pick a date range</p>
    <label>From: <input type="date" id="from"> </label>
    <label>To: <input type="date" id="to"> </label>
    <canvas id="graph"></canvas>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
