<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin price</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bitcoin price</h1>

    {{{body}}}
  </body>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
</html>
