<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
  
  body

    main

      block content

    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")
    script(src="/javascripts/financial-data.js")