<h2>DATA</h2>

<label for="start">FROM:</label><input type="date" id="start">
<label for="end">TO:</label><input type="date" id="end">
<hr>
<label for="currency">Currency</label>
<select name="carlist" id="currency">
    <option value="USD">USD $</option>
    <option value="GBP">GBP £</option>
    <option value="EUR">EUR €</option>

</select>

<canvas id="myChart" width="400" height="400"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/javascripts/script.js"></script>