<h2>DATA</h2>

<label for="start">FROM:</label><input type="date" id="start">
<label for="end">TO:</label><input type="date" id="end">
<hr>
<label for="currency">Currency</label><select name="currency" id="currency">
    <option value="USD">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
</select>
<canvas id="myChart" width="400" height="400"></canvas>

