body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: #1c375c;
  color: #40e0d0;
  padding: 1%;
  margin-bottom: 1%;
  text-align: center;
}

main {
  padding: 0 5%;
}

.flex {
  display: flex;
  align-items: flex-start;
}

#chart-wrapper {
  justify-content: center;
}

#chart-container {
  width: 80%;
}

#financial-chart {
  width: 80%;
}

#info-container {
  padding: 0 5%;
  justify-content: space-between;
}

.title-info {
  font-size: 1.3em;
  font-weight: bold;
}

#value-wrapper span {
  font-weight: normal;
  color: #666;
}

.form-control,
.custom-select {
  height: 30px;
  padding: 0 15px;
  margin: 10px;
}

#filter-wrapper {
  width: 60%;
}

#value-wrapper {
  width: 20%;
  text-align: end;
}
